@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto+Slab&display=swap');
@import '../assets/font/fontawesome.scss';
@import '../assets/font/solid.scss';

$primary: #fed136;
$secondary: #fec810;
$white: #ffffff;
$black: #212529;
$gray: #f8f9fa;
$dark-gray: #6c757d;

$header-font: 'Montserrat', sans-serif;
$logo-font: 'Kaushan Script', cursive;;
$body-font: 'Roboto Slab', serif;


*{
    box-sizing: border-box;
    &::selection{
        color: $primary;
    }
}

body{
    font-family: $body-font;
    color: $dark-gray;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6{
    font-family: $header-font;
    font-weight: 700;
    color: $black;
}